<a href="https://colab.research.google.com/github/RyC37/Value-Investing-In-Python/blob/master/Calculating_Stock_Metrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
# !pip install yfinance
import yfinance as yf

### 1.Load Data

In [4]:
aapl = pd.read_csv('../data/AAPL Key Ratios.csv', skiprows=2, index_col='Unnamed: 0')

In [5]:
aapl.head()

,2010-09,2011-09,2012-09,2013-09,2014-09,2015-09,2016-09,2017-09,2018-09,2019-09,TTM
Revenue USD Mil,"65,225","108,249","156,508","170,910","182,795","233,715","215,639","229,234","265,595","260,174","260,174"
Gross Margin %,39.4,40.5,43.9,37.6,38.6,40.1,39.1,38.5,38.3,37.8,37.8
Operating Income USD Mil,"18,385","33,790","55,241","48,999","52,503","71,230","60,024","61,344","70,898","63,930","63,930"
Operating Margin %,28.2,31.2,35.3,28.7,28.7,30.5,27.8,26.8,26.7,24.6,24.6
Net Income USD Mil,"14,013","25,922","41,733","37,037","39,510","53,394","45,687","48,351","59,531","55,256","55,256"

### 2.Read Metrics From Financial Data

##### (1)Shares Outstanding

In [6]:
# Read the latest data point
aapl.loc['Shares Mil', '2019-09']

'4,649'

In [7]:
# Convert to number, could also use int()
float(aapl.loc['Shares Mil', '2019-09'].replace(',',''))

4649.0

In [8]:
# Read the historical data
aapl.loc['Shares Mil', ]

2010-09    6,473
2011-09    6,557
2012-09    6,617
2013-09    6,522
2014-09    6,123
2015-09    5,793
2016-09    5,500
2017-09    5,252
2018-09    5,000
2019-09    4,649
TTM        4,649
Name: Shares Mil, dtype: object

In [9]:
# Convert data type to float
aapl.loc['Shares Mil', ].str.replace(',','').astype(float)

2010-09    6473.0
2011-09    6557.0
2012-09    6617.0
2013-09    6522.0
2014-09    6123.0
2015-09    5793.0
2016-09    5500.0
2017-09    5252.0
2018-09    5000.0
2019-09    4649.0
TTM        4649.0
Name: Shares Mil, dtype: float64

##### (2)EPS

In [10]:
float(aapl.loc['Earnings Per Share USD', '2019-09'])

11.89

In [11]:
aapl.loc['Earnings Per Share USD', ].astype(float)

2010-09     2.16
2011-09     3.95
2012-09     6.31
2013-09     5.68
2014-09     6.45
2015-09     9.22
2016-09     8.31
2017-09     9.21
2018-09    11.91
2019-09    11.89
TTM        11.89
Name: Earnings Per Share USD, dtype: float64

##### (3)Dividend Rate

In [12]:
def search_value(index_name, date):
    '''This function return a specific stock metric of at a specific date
    from aapl dataframe
    '''
    return float(aapl.loc[index_name, date])

In [13]:
search_value('Dividends USD', '2019-09')

3.0

In [14]:
def historical_value(index_name):
    return aapl.loc[index_name, ].astype(float)

In [15]:
historical_value('Dividends USD')

2010-09     NaN
2011-09     NaN
2012-09    0.38
2013-09    1.63
2014-09    1.81
2015-09    1.98
2016-09    2.18
2017-09    2.40
2018-09    2.72
2019-09    3.00
TTM        3.00
Name: Dividends USD, dtype: float64

In [0]:
# NaN manipulation will be introduced later

##### (4)Dividend Yield

In [16]:
search_value('Payout Ratio % *', '2019-09')

25.1

In [17]:
historical_value('Payout Ratio % *')

2010-09     NaN
2011-09     NaN
2012-09     NaN
2013-09    27.4
2014-09    28.5
2015-09    22.3
2016-09    24.8
2017-09    26.5
2018-09    23.7
2019-09    25.1
TTM        25.2
Name: Payout Ratio % *, dtype: float64

##### (5)Debt/Equity Ratio

In [18]:
search_value('Debt/Equity', '2019-09')

1.01

In [19]:
historical_value('Debt/Equity')

2010-09     NaN
2011-09     NaN
2012-09     NaN
2013-09    0.14
2014-09    0.26
2015-09    0.45
2016-09    0.59
2017-09    0.73
2018-09    0.87
2019-09    1.01
TTM        1.01
Name: Debt/Equity, dtype: float64

##### (6)Book Value Per Share

In [20]:
search_value('Book Value Per Share * USD', '2019-09')

21.71

In [21]:
historical_value('Book Value Per Share * USD')

2010-09     7.45
2011-09    11.78
2012-09    16.99
2013-09    19.60
2014-09    20.62
2015-09    22.53
2016-09    23.71
2017-09    25.83
2018-09    24.17
2019-09    21.71
TTM        20.64
Name: Book Value Per Share * USD, dtype: float64

##### (7)ROE (Return on Equity)

In [22]:
search_value('Return on Equity %', '2019-09')

55.92

In [23]:
historical_value('Return on Equity %')

2010-09    35.28
2011-09    41.67
2012-09    42.84
2013-09    30.64
2014-09    33.61
2015-09    46.25
2016-09    36.90
2017-09    36.87
2018-09    49.36
2019-09    55.92
TTM        55.92
Name: Return on Equity %, dtype: float64

##### (8)Current Ratio

In [32]:
search_value('Current Ratio', '2019-09')

1.54

In [33]:
historical_value('Current Ratio')

2010-09    2.01
2011-09    1.61
2012-09    1.50
2013-09    1.68
2014-09    1.08
2015-09    1.11
2016-09    1.35
2017-09    1.28
2018-09    1.12
2019-09    1.54
TTM        1.54
Name: Current Ratio, dtype: float64

### 3.Get Stock Price

In [0]:
apple = yf.Ticker('AAPL')

In [0]:
apple_price = apple.history(period='max')

### 4.Calculate P/E & P/BV

##### (1) Latest P/E

In [36]:
latest_price = apple_price.loc['2020-01-14','Close']
latest_eps = search_value('Earnings Per Share USD', '2019-09')
latest_PtoE = latest_price/latest_eps
print(latest_PtoE)

26.297729184188395

##### (2) Latest P/BV

In [37]:
latest_price = apple_price.loc['2020-01-14','Close']
latest_eps = search_value('Book Value Per Share * USD', '2019-09')
latest_PtoBV = latest_price/latest_eps
print(latest_PtoBV)

14.402579456471672

### 5.Formatting

##### (1) Traspose Dataframe
For the convenience of calculation, we want to transpose the dataframe. Such that the time would be rows and metrics would be columns.

In [0]:
aapl = aapl.T

In [39]:
aapl.head()

        Revenue USD Mil Gross Margin %  ... Fixed Assets Turnover Asset Turnover
2010-09          65,225           39.4  ...                 16.89           1.06
2011-09         108,249           40.5  ...                 17.26           1.13
2012-09         156,508           43.9  ...                 13.48           1.07
2013-09         170,910           37.6  ...                 10.67           0.89
2014-09         182,795           38.6  ...                  9.82           0.83

[5 rows x 101 columns]

##### (2) Extract metrics we need
The financial data contains a lot of metrics, we are not going to use most of them. So, let's create a smaller dataframe with whatever metrics we will use.

In [40]:
col_names = ['Shares Mil','Earnings Per Share USD','Dividends USD',
            'Payout Ratio % *', 'Debt/Equity', 'Book Value Per Share * USD',
            'Return on Equity %', 'Current Ratio']
aapl_df = aapl[col_names]
aapl_df.head()

        Shares Mil Earnings Per Share USD  ... Return on Equity % Current Ratio
2010-09      6,473                   2.16  ...              35.28          2.01
2011-09      6,557                   3.95  ...              41.67          1.61
2012-09      6,617                   6.31  ...              42.84          1.50
2013-09      6,522                   5.68  ...              30.64          1.68
2014-09      6,123                   6.45  ...              33.61          1.08

[5 rows x 8 columns]

Now we have a concise dataframe `aapl_df`, which is easier to use. But the awkward name of columns still puzzles me. Let's get rid of special symbols and unify the name style by renaming them.

##### (3) Rename Columns

In [41]:
new_col = ['shares_outstanding', 'earning_per_share', 'dividend_rate', 
           'dividend_yield', 'debt_to_equity', 'book_value_per_share',
          'return_on_equity', 'current_ratio']
aapl_df.columns = new_col
aapl_df.head()

        shares_outstanding earning_per_share  ... return_on_equity current_ratio
2010-09              6,473              2.16  ...            35.28          2.01
2011-09              6,557              3.95  ...            41.67          1.61
2012-09              6,617              6.31  ...            42.84          1.50
2013-09              6,522              5.68  ...            30.64          1.68
2014-09              6,123              6.45  ...            33.61          1.08

[5 rows x 8 columns]

Now the dataframe looks great! Attention, do not get the order of new column (`new_col`) names wrong. It should be in exactly the same order as current column.